#content-section {
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 50px;
        text-align: center;
    
        .content-pic {
            width: 15svw;
            height: 70svh;
            border: 2px solid white;
            transition: transform 0.3s ease;  
        }
    
        .slow-scroll {
            transition: transform 3s ease-in-out; 
        }
    
        .fast-scroll {
            transition: transform 2s ease-out;  
        }
    
        div.content-pic:nth-child(1) {
            transform: translateX(100svw); 
    
            &.slow-scroll {
                transform: translateX(0);  
            }
    
            &.fast-scroll {
                transform: translateX(100svw); 
            }
        }
    
        div.content-pic:nth-child(2) {
            transform: translateX(200svw);  
    
            &.slow-scroll {
                transform: translateX(0);  
            }
    
            &.fast-scroll {
                transform: translateX(200svw); 
            }
        }
    
        div.content-pic:nth-child(3) {
            transform: translateX(300svw);  
    
            &.slow-scroll {
                transform: translateX(0);  
            }
    
            &.fast-scroll {
                transform: translateX(300svw); 
            }
        }
    }
    
}

