#content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        gap: 15px;
    
        .content-pic {
            width: 95%;
            height: 30svh;
            border: 10px solid white;
            transition: transform 0.3s ease; 
            
            .content-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0%);
                }
            }

            @media(max-width: 768px) {
                width: 80svw;
                height: 20svh;    
            }   
        }
    
        .slow-scroll {
            transition: transform 3s ease-in-out; 
        }
    
        .fast-scroll {
            transition: transform 2s ease-out;  
        }
    
        div.content-pic:nth-child(1) {
            transform: translateX(100svw); 
    
            &.slow-scroll {
                transform: translateX(0);  
            }
    
            &.fast-scroll {
                transform: translateX(100svw); 
            }
        }
    
        div.content-pic:nth-child(2) {
            transform: translateX(200svw);  
    
            &.slow-scroll {
                transform: translateX(0);  
            }
    
            &.fast-scroll {
                transform: translateX(200svw); 
            }
        }
    
        div.content-pic:nth-child(3) {
            transform: translateX(300svw);  
    
            &.slow-scroll {
                transform: translateX(0);  
            }
    
            &.fast-scroll {
                transform: translateX(300svw); 
            }
        }

        @media(max-width: 768px) {
            flex-direction: column;  
            align-items: center;
        }
    }

    @media(max-width: 768px) {
        flex-direction: column-reverse;
        height: auto;
        padding: 20px 0;
    }
    
}

