.content-text {
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 100%;
	font-size: 18px;

    h2, h3, p, ul {
        color: white;
        font-family: "Roboto", serif;
    }

    p, ul {
        font-size: 18px;

        @media(max-width: 768px) {
            font-size: 14px;;
        }
    }

    p {
        width: 80%;
    }
}








