footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    background: linear-gradient(to right, #414345, #232526);

    .footer-text,
    .policy {
        font-family: "Bruno Ace SC", serif;
        font-size: 20px;
        color: white;

        @media(max-width: 1024px) {
            font-size: 18px;
        }

        @media(max-width: 768px) {
            font-size: 16px;
        }
    }

    .policy {
        background: none;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }

    @media(max-width: 768px) {
        flex-direction: column;
    }

}