header {
    width: 100%;
    position: fixed;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    

    &.isScroll {
        background-color: rgba(0, 0, 0, .85);
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .header-title {
            font-size: 25px;
            color: white;

            @media(max-width: 1024px) {
                font-size: 20px;
            }

            @media(max-width: 768px) {
                font-size: 18px;
            }
        }

        .header-menu {
            display: flex;
            align-items: center;

            .menu {
                display: flex;
                gap: 20px;
                transition: transform 0.3s ease;
                flex-direction: row;

                .menu-link {
                    font-size: 18px;
                    text-decoration: none;
                    padding: 5px;
                    border: 2px solid transparent;
                    border-right: 2px solid white;
                    color: white;
                    transition: border 0.3s ease;

                    &:hover {
                        border: 2px solid white;
                    }

                    @media(max-width: 1024px) {
                        font-size: 18px;
                    }

                    @media(max-width: 768px) {
                        font-size: 16px;
                    }
                }

                .active {
                    border: 2px solid white;
                }


                &.isVisible {
                    transform: translateX(0);
                }

                @media(max-width: 768px) {
                    transform: translateX(100vw);
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .menu-hamburger {
                display: none;

                &--bar {
                    width: 100%;
                    height: 4px;
                    background-color: white;
                    transition: all 0.3s ease;
                }

                &.isOpen {
                    .menu-hamburger--bar:nth-child(1) {
                        transform: translateY(10px) rotate(45deg);
                    }

                    .menu-hamburger--bar:nth-child(2) {
                        opacity: 0;
                    }

                    .menu-hamburger--bar:nth-child(3) {
                        transform: translateY(-15px) rotate(-45deg);
                    }
                }

                @media(max-width: 768px) {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    cursor: pointer;
                    padding: 5px;
                }
            }

            @media(max-width: 768px) {
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 20px;
            }
        }

        @media(max-width: 768px) {
            align-items: flex-start;
        }

    }
}
