.home {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);

    .home-background {
        position: relative;
        display: flex;
        justify-content: center;

        .main-title {
            margin: 0;
            font-size: 70px;
            position: absolute;
            top: 50%;
            max-width: 1440px;
            transform: translateY(-50%);
            
            color: white;

            @media(max-width: 1024px) {
                font-size: 50px;
            }

            @media(max-width: 768px) {
                font-size: 35px;
                padding: 0 20px;
            }
        }
    }
}