.home {
    display: flex;
    flex-direction: column;
    position: relative;

    .home-background {
        position: relative;

        .main-title {
            margin: 0;
            font-size: 70px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            
            color: white;

            @media(max-width: 1024px) {
                font-size: 35px;
                top: 50%;
            }

            @media(max-width: 768px) {
                font-size: 20px;
                top: 40%;
            }
        }
    }
}