#map-section {
    height: 100svh;
    position: relative;

    .map-content {
        
    }
    
    .map-text {
            position: absolute;
            font-size: 20px;;
            top: 50%;
            left: 50%;
            color: white;
        }
}